*{
    margin: 0px;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

html,body{height: 100%;}

.lg { width: 200px; padding: 10px;
position: absolute;
left: 20px;}

.container{
    height: 100%;
    background: linear-gradient(to right, rgba(204, 201, 201, 0.717), rgba(116, 116, 116, 0.765)),url(cover-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
    } 
.Textcontent {
    display: flex;
    height: 88%;
    text-align: center;
}
.texth {
    flex-basis: 69%;
    margin-top: 20%;
}
.h1 {
    color: #fff;
    font-size: 150px;
}
.p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
.button {
    Width: 180px;
    Color: #000;
    Font-size: 12px;
    Padding: 12px 0;
    Background: #fff;
    Border: 0;
    Border-radius: 40px;
    outline: none;
    Margin-top: 30px;
}



     

    
  
